<!DOCTYPE html>
<html lang="en">

<head>
    <title>Create Country</title>
    <style>
        body {
            font-family: "Agency FB", Arial, sans-serif;
            background-color: #1a1a1a;
            color: #d8f0f3;
            margin: 0;
            padding: 20px;
            flex-direction: column;
            min-height: 100vh;
            background-color: #000000;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }

        h1 {
            text-align: center;
            color: #ffffff;
            font-family: "Agency FB", Arial, sans-serif;
        }

        form {
            max-width: 400px;
            margin: 0 auto;
            background-color: rgba(0, 0, 0, 0.7);
            padding: 20px;
            border-radius: 5px;
        }

        label {
            display: block;
            margin-top: 10px;
            color: #fff;
            font-family: "Agency FB", Arial, sans-serif;
        }

        input {
            width: 100%;
            padding: 10px;
            margin-top: 5px;
            margin-bottom: 10px;
            box-sizing: border-box;
        }

        input[type="text"] {
            background-color: #333;
            color: #fff;
            border: 1px solid #444;
            border-radius: 5px;
        }

        input[type="submit"] {
            background-color: #ff0000;
            color: #fff;
            cursor: pointer;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            transition: background-color 0.3s ease;
        }

        input[type="submit"]:hover {
            background-color: #3b0000;
        }

        a {
            display: block;
            text-align: center;
            margin-top: 20px;
            text-decoration: none;
            color: #fff;
            font-family: "Agency FB", Arial, sans-serif;
        }

        a:hover {
            color: #ffd900;
        }
    </style>
    </style>
</head>

<body>
    <div style="display: flex; align-items: center; text-align: center; justify-content: center; height:20vh;">
        <img src="https://www.24-hd.com/wp-content/uploads/2022/08/logo24.png" style="margin-right: 10px;">
        <h1>Create Country</h1>
    </div>
    <form method="post" action="/createCountry">
        <label for="Name">Name</label>
        <input type="text" id="Name" name="Name">
        <label for="Data">Data</label>
        <input type="text" id="Data" name="Data">
        <label for="Pic">Pic</label>
        <input type="text" id="Pic" name="Pic">
        <input type="submit" value="Create" style="font-family: 'Agency FB', sans-serif; background-color: #2196f3; color: #fff; cursor: pointer; border: none; padding: 10px 20px; border-radius: 5px; transition: background-color 0.3s ease;">
    </form>
    <a href="/Countrys">Back to List</a>
</body>

</html>
